
/* merriweather-300 */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Merriweather Light'), local('Merriweather'),
    url('//lib.baomitu.com/fonts/merriweather/merriweather-300.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/merriweather/merriweather-300.woff?display=swap') format('woff'); /* Modern Browsers */
}

/* merriweather-regular */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Merriweather'),
    url('//lib.baomitu.com/fonts/merriweather/merriweather-regular.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/merriweather/merriweather-regular.woff?display=swap') format('woff'); /* Modern Browsers */
}

/* merriweather-700 */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Merriweather Bold'), local('Merriweather'),
    url('//lib.baomitu.com/fonts/merriweather/merriweather-700.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/merriweather/merriweather-700.woff?display=swap') format('woff'); /* Modern Browsers */
}
