/* noto-sans-sc-300 */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Sans SC Light'), local('Noto Sans SC'),
    url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-300.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-300.woff?display=swap') format('woff'); /* Modern Browsers */
}
/* noto-sans-sc-regular */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: regular;
    font-display: swap;
    src: local('Noto Sans SC'),
    url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-regular.woff?display=swap') format('woff'); /* Modern Browsers */
}

/* noto-sans-sc-700 */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Noto Sans SC Bold'), local('Noto Sans SC'),
    url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/noto-sans-sc/noto-sans-sc-700.woff?display=swap') format('woff'); /* Modern Browsers */
}
