/* open-sans-300 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('//lib.baomitu.com/fonts/open-sans/open-sans-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans-Normal'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-300.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: regular;
    font-display: swap;
    src: url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans-Normal'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('//lib.baomitu.com/fonts/open-sans/open-sans-600.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans-Normal'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-600.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('//lib.baomitu.com/fonts/open-sans/open-sans-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans-Normal'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-700.woff') format('woff'), /* Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  