/* open-sans-300 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('Open Sans'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-300.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-300.woff?display=swap') format('woff'); /* Modern Browsers */
}


/* open-sans-regular */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: regular;
    src: local('Open Sans'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-regular.woff?display=swap') format('woff'); /* Modern Browsers */
}



/* open-sans-600 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('Open Sans'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-600.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-600.woff?display=swap') format('woff'); /* Modern Browsers */
}


/* open-sans-700 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('Open Sans'),
    url('//lib.baomitu.com/fonts/open-sans/open-sans-700.woff2?display=swap') format('woff2'), /* Super Modern Browsers */
    url('//lib.baomitu.com/fonts/open-sans/open-sans-700.woff?display=swap') format('woff'); /* Modern Browsers */
}
