[submodule "themes/hugo-theme-luna"]
	path = themes/hugo-theme-luna
	url = https://github.com/Ice-Hazymoon/hugo-theme-luna
	branch = master
[submodule "themes/ladder"]
	path = themes/ladder
	url = https://github.com/guangzhengli/hugo-theme-ladder
	branch = master
[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/beautiful"]
	path = themes/beautiful
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/cleanwhite"]
	path = themes/cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
