[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/chensoul/mainroad.git
[submodule "themes/hugo-rose"]
	path = themes/hugo-rose
	url = https://github.com/chensoul/hugo-rose.git
