baseURL = "https://blog.chensoul.cc/"
title = "ChenSoul Blog"
theme = "rose-hugo"
defaultContentLanguage = 'zh-cn'

summaryLength = 3
ignoreLogs = ['warning-goldmark-raw-html']

# Pagination
[pagination]
  pagerSize = 10

[permalinks]
  posts="/posts/:year/:month/:day/:slug/"
  categories="/categories/:slug/"
  tags="/tags/:slug/"
  pages="/:slug/"

[params]
  author = "ChenSoul"
  logo = "/logo.svg"
  avatar = "/avatar.jpg"
  subtitle = "Java、Spring、Spring Boot、MicroServices、Architecture、Kubernetes、DevOps"
  description = "Java、Spring、Spring Boot、MicroServices、Architecture、Kubernetes、DevOps"
  authorbox = true
  authorIntro = "一个来自中国武汉的开发者，主要撰写软件开发和开源方面的文章。浏览我的[博客文章]((/posts))，订阅我的 [RSS](/index.xml) 源，或了解更多[关于我](/about/)的信息。"
  toc = true

[params.remark42]
  enabled = true
  host = "https://comment.chensoul.cc"
  site = "remark"
  locale = "zh"

[taxonomies]
  tag = "tags"
  category = "categories"

[menu]
  [[menu.main]]
    name = "首页"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "分类"
    url = "/categories/"
    weight = 2
   [[menu.main]]
      name = "标签"
      url = "/tags/"
      weight = 3
  [[menu.main]]
      name = "关于"
      url = "/about/"
      weight = 10

[outputs]
  page = ["HTML", "Markdown"]
  home = ["HTML", "RSS", "JSON", "TXT"]

[mediaTypes."text/markdown"]
  suffixes = ["md"]

[outputFormats.Markdown]
  mediaType = "text/markdown"
  isPlainText = true
  isHTML = false
  baseName = "index"
  rel = "alternate"

[outputFormats.TXT]
  mediaType = "text/plain"
  baseName = "llms"
  isPlainText = true