baseURL = "https://blog.chensoul.cc/"
title = "ChenSoul Blog"
theme = "rose-hugo"
defaultContentLanguage = 'zh-cn'

summaryLength = 3
ignoreLogs = ['warning-goldmark-raw-html']

# Pagination
[pagination]
  pagerSize = 10

[permalinks]
  posts="/posts/:year/:month/:day/:slug/"
  categories="/categories/:slug/"
  tags="/tags/:slug/"
  pages="/:slug/"

[params]
  author = "ChenSoul"
  description = "Java, Spring Boot, Microservice, Cloud, Architecture and DevOps Tutorials"

[params.social]
  mastodon = "ichensoul"  # without full URL
  github = "chensoul"
  twitter = "ichensoul"

[params.remark42]
  enabled = true
  host = "https://comment.chensoul.cc"
  site = "remark"
  locale = "zh"

[taxonomies]
  tag = "tags"
  category = "categories"

[outputs]
  home = ["HTML", "RSS"]

[menu]
  [[menu.main]]
    name = "首页"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "分类"
    url = "/categories/"
    weight = 2
  [[menu.main]]
    name = "关于"
    url = "/about/"
    weight = 4
  [[menu.main]]
      name = "RSS"
      url = "/index.xml"
      weight = 5
      target = "_blank"