<header id="masthead" class="site-header clearfix" role="banner">
    <div class="header-main container clearfix">
        <div id="logo" class="site-branding clearfix">
            <h1 class="site-title">
                <a href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
                {{ .Site.Title }}
                </a>
            </h1>
            <p class="site-description">{{ .Site.Params.Subtitle}}</p>
        </div>
        <div class="header-widgets clearfix">
            <aside id="search-2" class="header-widget widget_search">
                <form role="search" method="get" class="search-form"
                      onsubmit="return searchSite(event)">
                    <label> <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field"
                               placeholder="Enter search keyword" value=""
                               name="query" id="query" title="Enter search keyword">
                    </label>
                    <button type="submit" class="search-submit" title="Search"> <span class="genericon-search"></span>
                        <span class="screen-reader-text">Search</span>
                    </button>
                </form>
            </aside>
        </div>
    </div>
    <div id="main-navigation-wrap" class="primary-navigation-wrap">
        <nav id="main-navigation" class="primary-navigation navigation container clearfix"
             role="navigation">
            <ul id="menu-home" class="main-navigation-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom
                            current-menu-item current_page_item menu-item-home">
                    <a href="{{ "" | relLangURL }}">Home</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                    <a href="{{ "/categories/spring-boot" | relLangURL }}/">Spring Boot</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                    <a href="{{ "/categories/architecture" | relLangURL }}/">Architecture</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                    <a href="{{ "/categories/microservice" | relLangURL }}/">Microservice</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                    <a href="{{ "/categories/kubernetes" | relLangURL }}/">Kubernetes</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category
                            menu-item-has-children">
                    <a href="{{ "/tutorials" | relLangURL }}/">Tutorials</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="{{ "/spring-boot-tutorials" | relLangURL }}/">Spring Boot Tutorials</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="{{ "/microservice-tutorials" | relLangURL }}/">Microservice Tutorials</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="{{ "/kubernetes-tutorials" | relLangURL }}/">Kubernetes Tutorials</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="https://github.com/chensoul" target="_blank">About Me</a>
                </li>

            </ul>
        </nav>
    </div>
</header>