{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="navigation pagination" role="navigation">
	<h3 class="screen-reader-text">Posts navigation</h3>
	<div class="nav-links">
		{{- if .Paginator.HasPrev }}
		<a class="prev page-numbers" href="{{ .Paginator.Prev.URL }}"
		   title="Click to view newer posts">
			<i class="fa fa-chevron-left"></i> Newer Posts
		</a>
		{{- end }}
		<!--<span class="page-numbers dots">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>-->
		{{- if .Paginator.HasNext }}
		<a class="next page-numbers" href="{{ .Paginator.Next.URL }}"
		   title="Click to view older posts">
			Older Posts <i class="fa fa-chevron-right"></i>
		</a>
		{{- end }}
	</div>
</nav>
{{ end }}
