{{- if or (.PrevInSection) (.NextInSection) }}
<nav class="navigation post-navigation" role="navigation">
	<h2 class="screen-reader-text">Post navigation</h2>
	<div class="nav-links">
		{{- if .NextInSection }}
		<div class="nav-previous">
			<a href="{{.NextInSection.RelPermalink}}" rel="next">
				<span class="post-title">{{.NextInSection.Title}}</span>
			</a>
		</div>
		{{- end }}

		{{- if .PrevInSection }}
		<div class="nav-next">
			<a href="{{.PrevInSection.RelPermalink}}" rel="prev">
                <span class="post-title">{{.PrevInSection.Title}}</span>
			</a>
		</div>
		{{- end }}
	</div>
</nav>
{{- end }}
