<div>
    <div style="font-weight: bold">Share this post:</div>
    <a class="social-link-item"
       href="https://twitter.com/intent/tweet?text={{ .Title }} {{ .Permalink }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on Twitter">
        <i class="fa-brands fa-square-twitter fa-2xl" style="color: #55ACEE;"></i>
    </a>
    <a class="social-link-item"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on LinkedIn">
        <i class="fa-brands fa-linkedin fa-2xl" style="color: #007bb5;"></i>
    </a>
    <a class="social-link-item"
       href="https://telegram.me/share/url?text={{ .Title }}&amp;url={{ .Permalink }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on telegram">
        <i class="fa-brands fa-telegram fa-2xl" style="color: #007bb5;"></i>
    </a>
    <a class="social-link-item"
       href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on reddit">
        <i class="fa-brands fa-reddit fa-2xl" style="color: #007bb5;"></i>
    </a>
    <a class="social-link-item"
       href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on facebook">
        <i class="fa-brands fa-facebook fa-2xl" style="color: #007bb5;"></i>
    </a>
    <a class="social-link-item"
       href="https://api.whatsapp.com/send?text={{ .Title }}%20-%20{{ .Permalink }}"
       target="_blank" rel="noopener noreferrer" title="Click to share on whatsapp">
        <i class="fa-brands fa-whatsapp fa-2xl" style="color: #007bb5;"></i>
    </a>
</div>
