/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/


.first-entry {
	min-height: 120px;
}

pre code {
	white-space: pre-wrap;
	word-break: break-all;
}

code {
	color: #e83e8c;
}

.post-single a, .post-single a:visited {
	color: #eb2344;
	text-decoration: none;
	transition: .2s ease-out;
}

.post-title {
	font-size: 30px;
}

.post-content img {
	/*max-width: 80%;*/
	margin-left: auto;
	margin-right: auto;
}

.post-content h4 {
	font-size: 20px;
}
