body {
	font-size: 1rem;
}

pre {
    font-size: 0.96em;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

.meta__icon {
	fill: #e22d30;
}

.logo__text {
	text-transform: none;
}

.menu__btn-title {
	text-transform: none;
}

.menu__link {
	text-transform: none;
}

.tags__item {
	text-transform: lowercase;
}

.pager__subtitle {
	text-transform: none;
}

.widget__title {
	text-transform: none;
}

.widget-taglist__link {
	text-transform: lowercase;
}