.social-link-item {
    padding: 3px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.social-link-item > .twitter {
    color: #55ACEE;
}
.social-link-item > .linkedin {
    color: #007bb5;
}
.social-link-item > .github {
    color: #221e1b;
}
.social-link-item > .youtube {
    color: #e02a20;
}

/* Copy code button */

.copy-code-button {
    color: #272822;
    background-color: #fff;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;

    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.copy-code-button:focus {
    /* avoid an ugly focus outline on click in Chrome, but darken the button
       for accessibility. https://stackoverflow.com/a/25298082/1481479 */
    background-color: #e6e6e6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #d9d9d9;
}

.highlight pre {
    /* Avoid pushing up the copy buttons */
    margin-top: 0;
    border-radius: 3px;
    padding: 10px;
    overflow-x: auto;
    font-size: 0.9em;
}

.highlight pre code {
    /* Otherwise, overflow text hits the edge of the block */
    margin-right: 8px;
    display: inline-block;
}

/* Lines that are highlighted */
.highlight pre code > span[style*="display:block;"] {
    margin-left: -10px;
    padding-left: 5px;
    border-left: 5px solid #ee7f2d;
}
/* Copy code button end*/

/* Scroll to top */
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#scrollTopBtn:hover {
    background-color: #555;
}
/* Scroll to top end */