/* Pagefind 搜索页样式覆盖 */
#pagefind-search {
  --pagefind-ui-font: var(--font-mono);
  --pagefind-ui-text: var(--foreground);
  --pagefind-ui-background: var(--background);
  --pagefind-ui-border: var(--border);
  --pagefind-ui-primary: var(--accent);
  --pagefind-ui-tag: var(--background);
  --pagefind-ui-border-radius: 0.375rem;
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
}

#pagefind-search form::before {
  background-color: var(--foreground);
}

#pagefind-search input {
  font-weight: 400;
  border: 1px solid var(--border);
}

#pagefind-search input:focus-visible {
  outline: 1px solid var(--accent);
}

#pagefind-search .pagefind-ui__result-title a {
  color: var(--accent);
  outline-offset: 1px;
  outline-color: var(--accent);
  font-size: 0.875rem;
}

#pagefind-search .pagefind-ui__result-title,
#pagefind-search .pagefind-ui__result-title a,
#pagefind-search .pagefind-ui__result-excerpt,
#pagefind-search .pagefind-ui__message {
  font-weight: 400;
}

#pagefind-search .pagefind-ui__result-title a:focus-visible,
#pagefind-search .pagefind-ui__search-clear:focus-visible {
  text-decoration-line: none;
  outline-width: 2px;
}

#pagefind-search .pagefind-ui__result {
  padding: 15px 0 !important;
}

#pagefind-search .pagefind-ui__result:last-of-type {
  border-bottom: 0;
}

#pagefind-search .pagefind-ui__result-nested .pagefind-ui__result-link:before {
  font-family: system-ui;
}
