@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f9f8f6;
  --foreground: #282728;
  --accent: #2563eb;
  --muted: #e5e7eb;
  --border: #e5e7eb;
}

html[data-theme="dark"] {
  --background: #302e2c;
  --foreground: #eaedf3;
  --accent: #d19a66;
  --muted: #374151;
  --border: #374151;
}
