{{ define "main"}}
<section id="primary" class="content-archive content-area">
    <main class="main-content content" role="main" itemprop="mainContentOfPage">
        <div class="warning">
            <h1 class="warning__headline">Page not found</h1>
            <p class="warning__text">
                The page you were looking for appears to have been moved, deleted or does not exist.<br/>
                Go to <a href="{{ "" | relLangURL }}">Home page</a>.
            </p>
        </div>
    </main>
</section>
{{ end }}