<div align="center">
    <div class="comment-underline"></div>
</div>

<br>

<div id="cusdis_thread"
     data-host="https://cusdis.chensoul.com"
     data-app-id="f4aaab74-3c33-4073-9ea8-642b65181b19"
     data-page-id="{{ .File.UniqueID }}"
     data-page-url="{{ .Permalink }}"
     data-page-title="{{ .Title }}"
></div>

<script>
    window.CUSDIS_LOCALE={powered_by:'评论由 Cusdis 提供',post_comment:'发送',loading:'加载中',email:'邮箱地址 (可选)',nickname:'昵称',reply_placeholder:'回复内容…',reply_btn:'回复',sending:'发送中…',mod_badge:'管理员',content_is_required:'内容不能为空',nickname_is_required:'昵称不能为空',comment_has_been_sent:'评论已发送，管理员审核通过后会展示',}
</script>
<script async defer src="https://cusdis.chensoul.com/js/cusdis.es.js"></script>