<footer class="footer">
    <div class="container footer__container flex">
        {{ partial "footer_links.html" . }}
        <div class="footer__copyright">
            &copy; {{ now.Format "2006" }} {{ .Site.Params.author | default .Site.Title }}.
            <span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
        </div>
    </div>

    {{ partial "top.html" . }}

<!--    <script defer src="https://umami.chensoul.cc/random-string.js"-->
<!--            data-website-id="1e07d36d-bec3-4ba6-9459-876b1ac3bbe7"></script>-->

    <script>
        !function(p){"use strict";!function(t){var s=window,e=document,i=p,c="".concat("https:"===e.location.protocol?"https://":"http://","sdk.51.la/js-sdk-pro.min.js"),n=e.createElement("script"),r=e.getElementsByTagName("script")[0];n.type="text/javascript",n.setAttribute("charset","UTF-8"),n.async=!0,n.src=c,n.id="LA_COLLECT",i.d=n;var o=function(){s.LA.ids.push(i)};s.LA?s.LA.ids&&o():(s.LA=p,s.LA.ids=[],o()),r.parentNode.insertBefore(n,r)}()}({id:"3O7KvNKOWmQvybSs",ck:"3O7KvNKOWmQvybSs"});
    </script>

    <script>
        !(function(c,i,e,b){
        var h=i.createElement("script");
        var f=i.getElementsByTagName("script")[0];
        h.type="text/javascript";
        h.crossorigin=true;
        h.onload=function(){new c[b]["Monitor"]().init({id:"3O7L0bnZ4Zz3X5KU"});};
        f.parentNode.insertBefore(h,f);h.src=e;})(window,document,"https://sdk.51.la/perf/js-sdk-perf.min.js","LingQue");
    </script>
</footer>
