{{ define "main"}}
<section id="primary" class="content-archive content-area">
    <main class="main-content content" role="main" itemprop="mainContentOfPage">
        <div class="warning">
            <h1 class="warning__headline">Page not found</h1>
            <p class="warning__text">
                The page you were looking for appears to have been moved, deleted or does not exist.<br/>
                Go to <a href="{{ "" | relLangURL }}">Home page</a>.
            </p>
        </div>

        <aside id="tutorials" class="widget clearfix">
            <div class="widget-header">
                <h3 class="widget-title">You may be interested in these tutorials</h3>
            </div>
            <ul>
                <li class="widget__item">
                    <a class="widget__link" href="{{ "/spring-boot-tutorials" | relLangURL }}/">Spring Boot Tutorials</a>
                </li>
                <li class="widget__item">
                    <a class="widget__link" href="{{ "/microservice-tutorials" | relLangURL }}/">Microservice Tutorials</a>
                </li>
                <li class="widget__item">
                    <a class="widget__link" href="{{ "/kubernetes-tutorials" | relLangURL }}/">Kubernetes Tutorials</a>
                </li>
            </ul>
        </aside>

    </main>
</section>
{{ end }}