---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";

/**
 * 组件属性接口
 *
 * @property frontmatter - 页面 frontmatter 数据
 */
export interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <main id="main-content">
    <!-- 关于页内容区 -->
    <section
      id="about"
      class="prose mb-28 max-w-4xl prose-img:mx-auto prose-img:block prose-img:w-full prose-img:max-w-full prose-img:border-0"
    >
      <!-- 插槽：页面内容 -->
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
