<div id="bber"></div>
<script type="text/javascript">
    var bbMemos = {
        memos : 'https://memos.chensoul.com/',
        limit : '10',
        creatorId:'1' ,
        domId: '#bber',
    }
</script>

<script src="https://immmmm.com/bb-lmm-mk.js"></script>
<script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://fastly.jsdelivr.net/gh/Tokinx/ViewImage/view-image.min.js"></script>
<script src="https://fastly.jsdelivr.net/gh/Tokinx/Lately/lately.min.js"></script>